@{
    Layout = "";
}
@model PayModel
@using Nop.Plugin.Payments.Paytm.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{      
    <div>
       <div class="editor-field">
        Txn Failure Reason : @Html.ValueFor(model => model.RespMsg)
          <br />
           
      </div>
    </div>
        <div>
    @Html.ActionLink("Click here to continue..","Index","Home")
    </div>
}